<%= form_for(@reward) do |f| %>
  <% if @reward.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reward.errors.count, "error") %> prohibited this reward from being saved:</h2>

      <ul>
      <% @reward.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :manufacture %><br>
    <%= f.text_field :manufacture %>
  </div>
  <div class="field">
    <%= f.label :min_order_price_per_unit %><br>
    <%= f.decimal :min_order_price_per_unit %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
