`<% if @campaign.errors.any? %>


  <ul class="alert alert-warning">
    <p><strong>Please fill in ALL fields, you are missing:</strong></p>

    <% @campaign.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
  </ul>
<% end %>

<%= form_for @campaign, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :start_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :start_time, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :finish_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :finish_time, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :donation_amount, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :donation_amount, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Reward', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :reward_id, :class => 'text_field' %>
      <%= collection_select(:reward_id, Reward.all, :id, :name, prompt: true) %>
    </div>
  </div>



  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
    
    campaigns_path, :class => 'btn' %>

  </div>
<% end %>
