<h1>Listing orders</h1>

<table>
  <thead>
    <tr>
      <th>Campaign</th>
      <th>Order date and time</th>
      <th>Customer name</th>
      <th>Customer email</th>
      <th>Reward size</th>
      <th>Shipping choice</th>
      <th>Customer address</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.campaign_id %></td>
        <td><%= order.order_date_and_time %></td>
        <td><%= order.customer_name %></td>
        <td><%= order.customer_email %></td>
        <td><%= order.reward_size %></td>
        <td><%= order.shipping_choice %></td>
        <td><%= order.customer_address %></td>
        <td><%= order.postcode %></td>
        <td><%= order.shipping_price %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
